/*************DEFAULT SETTINGS*****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

/* HEADER */
header {
    height: 10rem;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.lh-100 {
    line-height: 100%;
}

.hero {
    background-color: #ff6900;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-hero {
    width: 1200px;
    margin:0 auto;
}

.img-hero {
    width: 33.3%;
    text-align: center;
}

.links-container {
    width: 33.3%;
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    color: white;
    width: 33.3%;
    text-align: end;
}

/* MAIN */

.card-container {
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card {
    width: 320px;
    position: relative;
}

.marca {
    color: gray;
}

.price {
    color: red;
}

.raw-price {
    color: black;
    text-decoration: line-through;
}

.discount {
    padding: 0.5rem;
    background-color: red;
    width: 3.1rem;
    color: white;
    position: absolute;
    top: 70%;
}

.sos {
    background-color: green;
    color: white;
    width: 6.2rem;
    padding: 0.5rem;
    position: absolute;
    top: 70%;
    left: 20%;
}

.heart {
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
    width: 2.2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.heart:hover {
    color: red;
}

.img-1 {
    background-image: url("../img/1b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.img-2 {
    background-image: url("../img/2b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.img-3 {
    background-image: url("../img/3b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.img-4 {
    background-image: url("../img/4b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.img-5 {
    background-image: url("../img/5b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.img-6 {
    background-image: url("../img/6b.webp");
    background-size: cover;
    width: 320px;
    height: 462px;
}

.hover-img {
}

.hover-img:hover {
    opacity: 0;
}

/* FOOTER */

footer {
    background-color: black;
}

.container-foot {
    width: 1200px;
    margin:0 auto;
    justify-content: space-between;
}

.txt-foot {
    width: 30%;
}

.right {
    width: 30%;
    text-align: end;
}

.txt {
    color: white;
    line-height: 1.8rem;
    padding: 0.3rem 0;
}

.principal {
    font-size: 0.8rem;
}

.second {
    font-size: 0.5rem;
}

.icons-foot {
    color: white;
    font-size: 1.2rem;
}

